body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg,rgba(253, 206, 147,1) 0%,rgba(254, 145, 141,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-container {
  position: relative;
  height: 300px;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  touch-action: pan-y;
}

.carousel-track {
  display: flex;
  height: 100%;
}

.carousel-card {
  flex: 0 0 110px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.carousel-card-inner {
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.carousel-title {
  margin-top: 20px;
  font-size: 1.5em;
}

.carousel-text {
  padding: 1em;
  font-size: 14px;
  white-space: pre-wrap;
  text-align: left;
  font-family: sans-serif;
}

.carousel-pagination-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  display: none;
  justify-content: center;
  pointer-events: none;
}

.carousel-pagination {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 180px;
  padding: 0;
}

.carousel-pagination li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(50, 50, 50, 0.5);
}

.carousel-pagination .current {
  border-radius: 0;
  background: white;
}

.react-jinke-music-player-mobile{
  position: relative !important;
}
.react-jinke-music-player-mobile-operation{
  display: none !important;
}
.react-jinke-music-player-mobile-cover {
  width: 260px !important;
    height: 260px !important;
}

.anim{
  -webkit-animation: imgRotate 30s linear infinite;
  animation: imgRotate 30s linear infinite;
}
@keyframes imgRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
 }
 /*
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgb(238,173,29);
  background: linear-gradient(90deg, rgba(238,173,29,1) 0%, rgba(217,69,69,1) 100%);
  border-radius: 20px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  border: 0px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.6px;
  box-shadow:0 0 3px 2px rgba(0,0,0,0.15)
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(238,173,29);
  background: linear-gradient(90deg, rgba(238,173,29,1) 0%, rgba(217,69,69,1) 100%);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgb(238,173,29);
  background: linear-gradient(90deg, rgba(238,173,29,1) 0%, rgba(217,69,69,1) 100%);
  border-radius: 20px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgb(238,173,29);
  background: linear-gradient(90deg, rgba(238,173,29,1) 0%, rgba(217,69,69,1) 100%);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgb(238,173,29);
  background: linear-gradient(90deg, rgba(238,173,29,1) 0%, rgba(217,69,69,1) 100%);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  border: 0px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  box-shadow:0 0 3px 2px rgba(0,0,0,0.15)
}
input[type=range]:focus::-ms-fill-lower {
  background: rgb(238,173,29);
  background: linear-gradient(90deg, rgba(238,173,29,1) 0%, rgba(217,69,69,1) 100%);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgb(238,173,29);
  background: linear-gradient(90deg, rgba(238,173,29,1) 0%, rgba(217,69,69,1) 100%);
} */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow-x: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: #e0e0e0;
    border-radius: 30px;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 8px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
    border-radius: 30px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    border: 0px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: -3px;
    -webkit-appearance: none;
    box-shadow: -180px 0 0 180px #d94545;
  }

}
/** FF*/
input[type="range"]::-moz-range-progress {
background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
background-color: #e0e0e0;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
background-color: #e0e0e0;
}